*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0 none;
    font-weight: lighter;
    box-sizing: border-box;
}

ul.operations + ul.operations {
    margin-top: 20px;
}

ul.operations {
    width: 750px;
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}

ul.operations > li.line {
    width: 720px;
    background-color: #ffffff;
    margin-left: 30px;
    padding-right: 30px;
    height: 100px;
}

ul.operations > li.line + li.line {
    border-top: solid 1px #e0e0e0;
}

ul.operations > li.line:first-child.invisible + li.line {
    border-top: none;
}

ul.operations > li.line > * {
    display: block;
    height: 100px;
    line-height: 100px;
}

ul.operations > li.line > *[class*='left'] {
    float: left;
}

ul.operations > li.line > *[class*='right'] {
    float: right;
}

ul.operations > li.line > .text {
    font-size: 30px;
}

ul.operations > li.line > .img {
    font-size: 0;
}

ul.operations > li.line > .img > img {
    vertical-align: middle;
}

ul.operations > li.line > .input > input {
    height: 99px;
    padding: 20px;
    font-size: 30px;
    line-height: 59px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

ul.operations > li.line > .text.green {
    color: #38c87c;
}

ul.operations > li.line > .text.red {
    color: #ff6600;
}

.selectable.selected > .right.img {
    background: url('http://7xiqe8.com2.z0.glb.qiniucdn.com/checked.png') no-repeat 50% 50%;
}

.selectable:not(.selected) > .right.img {
    background: url('http://7xiqe8.com2.z0.glb.qiniucdn.com/unchecked.png') no-repeat 50% 50%;
}

ul.operations > li.line.invisible {
    display: none;
}

.cover {
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#yac-modal {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

#yac-modal:after {
    display: inline-block;
    width: 0;
    height: 100%;
    content: "center";
    vertical-align: middle;
    overflow: hidden;
}

#yac-modal .modal-body {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    max-width: 80%;
    padding: 30px 50px;
    font-size: 48px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}