ul.services {
    width: 750px;
    height: 166px;
    background-color: #ffffff;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

ul.services > li {
    width: 20%;
    text-align: center;
}

ul.services > li > * {
    display: inline-block;
}

ul.services > li > span {
    font-size: 22px;
    color: #666666;
}