*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0 none;
    font-weight: lighter;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}
